# Node modules
node_modules/

# Environment file
.env

# Upload folders (ignore files, keep folders)
public/uploads/companylogo/*
public/uploads/others/*
public/uploads/profile/*
public/uploads/testimonial/*
public/uploads/bannerimage/*
public/uploads/home/*
public/uploads/about/*

# Allow folder placeholder
!public/uploads/companylogo/.gitkeep
!public/uploads/others/.gitkeep
!public/uploads/profile/.gitkeep
!public/uploads/testimonial/.gitkeep
!public/uploads/bannerimage/.gitkeep
!public/uploads/home/.gitkeep
!public/uploads/about/.gitkeep

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
